<!DOCTYPE html>
<html>
<head>
  <link href='//fonts.googleapis.com/css?family=Imprima' rel='stylesheet' type='text/css'>
  <link href="/css/normalize.min.css" rel="stylesheet" type="text/css">
  <link href="/css/default.css" rel="stylesheet" type="text/css">
  <title>The Foods of Southern India</title>
</head>
<body>

<header>The Foods of Southern India</header>

<main>
  <div class="main_image"><img src="/images/food1.jpg"></div>
  <% Menu.new.paragraphs.each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
  <div class="menu">
    <h2>Our Menu</h2>
    <% Menu.new.items.each do |item| %>
      <div class="media">
        <div class="img"><img src="/images/<%= item.image %>" alt="<%= item.name %>"/></div>
        <div class="bd">

          <h2><%= item.name %> - <%= item.price %></h2>

          <h3><%= item.description %></h3>

        </div>
      </div>
    <% end %>
  </div>

</main>

<footer>
  <address>
    123 Main Street
    Boulder, CO 80301
    <a href="mailto:bob@example.com">Contact Us</a>
  </address>
  &copy; <%= Date.today.year %>
</footer>

</body>
</html>
